VITE_AUTH_URL=http://localhost:8001
VITE_EARNINGS_URL=http://localhost:8002
VITE_ANOMALY_URL=http://localhost:8003
VITE_GRIEVANCE_URL=http://localhost:8004
VITE_ANALYTICS_URL=http://localhost:8005
VITE_CERTIFICATE_URL=http://localhost:8006
