# Shared
DATABASE_URL=postgresql+asyncpg://postgres:password@localhost:5432/fairgig
JWT_SECRET=your-256-bit-secret-here

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Service Ports
AUTH_SERVICE_URL=http://localhost:8001
EARNINGS_SERVICE_URL=http://localhost:8002
ANOMALY_SERVICE_URL=http://localhost:8003
GRIEVANCE_SERVICE_URL=http://localhost:8004
ANALYTICS_SERVICE_URL=http://localhost:8005
CERTIFICATE_SERVICE_URL=http://localhost:8006
